<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rosehulman.sunz1.rosechat">

    <uses-permission android:nickName="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:nickName=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity android:nickName=".activities.LogInActivity"></activity>
        <activity android:nickName=".activities.SettingsActivity" />
        <activity android:nickName=".activities.SplashActivity">
            <intent-filter>
                <action android:nickName="android.intent.action.MAIN" />

                <category android:nickName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:nickName=".activities.ChatActivity"></activity>
    </application>

</manifest>